.navbar-brand {
  color: White;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  padding-left: 110px;
  font-size: 400%;
  text-decoration: underline;

}

.navbar-brand {
  font-family: 'Alegreya', serif;
}

.navbar-fixed-top {
  height: 70px;
}

.collapse {
  font-family: 'Alegreya', serif;
  font-size: 125%;
}

h2,
h1 {
  font-family: 'Cinzel', serif;
}

h4,
h3 {
  font-family: 'Alegreya', serif;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 115%;
  color: #8B5F65;
}

.li-name {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.3em;
  float: bottom;
}
.li-desc {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.1em;
  float: bottom;
}

.form-group name {
  font-family: 'Alegreya', serif;
  font-size: 100%;
}

html {
    height: 100%;
}

body {
  background: url(../img/bg.jpg);
  height: 100%;
  width: 960px;
  margin: 0 auto;
  padding-top: 70px;
}

.carousel, .item, .active {
    width: 100%; /*slider width*/
    height: 100%; /*slider height*/
}

.carousel, .item, img {
    width: 100%;
    height: 100% /*img width*/
}

.carousel .carousel-control {
    background: none;
    border: none;
    top: 50%;
}
