<div id="carousel" class="carousel slide" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  </ol>


  <div class="carousel-inner">
    <div class="item active">
      <img src="../img/rsz_blue_bag_art.jpg" alt="...">
      <div class="carousel-caption">
          <h3>Garbage of Rich and Famous- Starting bid: $23,000,000</h3>
      </div>
    </div>
    <div class="item">
      <img src="../img/rsz_box_art.jpg" alt="...">
      <div class="carousel-caption">
          <h3>Original Mona Lisa- Starting bid: 150,000,000 Eur</h3>
      </div>
    </div>
    <div class="item">
      <img src="../img/Lohan03.jpg" alt="...">
      <div class="carousel-caption">
          <h3>Lisa Lohan "recycled" portrait-Starting bid: 200,000,000,000 yen</h3>
      </div>
    </div>
		<div class="item">
			<img src="../img/rsz_garbagebuttart.jpg" alt="...">
			<div class="carousel-caption">
					<h3>"Everyone needs a bosom for a pillow"-Starting bid: $600,000,000,000</h3>
			</div>
		</div>
		<div class="item">
			<img src="../img/rsz_free_toanyhome.jpg" alt="...">
			<div class="carousel-caption">
					<h3>"One of a kind 'PDX Free Box'"-Starting bid: $1,000,000,000</h3>
			</div>
		</div>
  </div>


  <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
