<div class="container">
  <div id="navbar">
    <nav class="navbar navbar-inverse" role="navigation">

      <h1>Austerity Box Auctions<small> Good enough for the Rich.</small></h1>


      <ul class="nav navbar-nav">
        <li>{{#link-to 'about'}}About{{/link-to}}</li>
        <li>{{#link-to 'boxes'}}Current Boxes{{/link-to}}</li>
        <li>{{#link-to 'new-box'}}Add Boxes{{/link-to}}</li>
        <li>{{#link-to 'boxes'}}Lots{{/link-to}}</li>
      </ul>
    </nav>
  </div>

  {{outlet}}

</div>
