<h3>{{name}}</h3>
{{description}}

{{outlet}}


<h4>Available items in this box | {{#link-to 'new-item' this.id}}New item{{/link-to}}</h4>

{{#each items}}
  <p class="list-title list-unstyled">{{#link-to 'new-item' this.id}}{{name}}{{/link-to}}</p>
{{/each}}
