 <h3>
  Current Boxes:
</h3>

<ul class="list-title list-unstyled">
  {{#each}}
  <li class="li-name">{{#link-to 'box' this.id}}{{name}}{{/link-to}} | <a href="#" class="btn btn-primary btn-xs" {{action 'delete' this}}>Delete</a></li>
    <ul>
      <li class="li-desc">{{description}}</li>
    </ul>

  {{/each}}
</ul>
